<mat-toolbar color="primary" class="mat-elevation-z3">
    <mat-toolbar-row>
      <!-- <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>Home</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>      
        <nav> 
          <a mat-button><span class="material-icons">
            notification_important
            </span>
          </a>
          <a mat-button  [matMenuTriggerFor]="menu"><span class="material-icons">
            account_circle
            </span></a>
          <!-- <a (click)="onLogout()" mat-button>Logout</a>                     -->
          <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item (click)="onLogout()">Logout</button>
          </mat-menu>
        </nav>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>