<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px" class="login-body">
<mat-card>
  <!-- <mat-card-title>Login</mat-card-title> -->
  <mat-card-content>
    
    <div fxLayout="column">
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <div fxFlex="100" fxFlexOffset="10" fxLayoutAlign="center center">
            <img src="../../assets/images/landingview.png" height="200" width="200">
        </div>
        <div fxFlex="100" fxFlexOffset="10" fxLayoutAlign="center center">            
          <form [formGroup]="form" (ngSubmit)="submit(form.value)" class="form">
              <mat-card-header>
                <mat-card-title>Login</mat-card-title>
              </mat-card-header>
              <mat-form-field floatLabel="never" class="form-element">
                <input type="text" matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="form.controls['email'].invalid">
                  {{getError('email')}}
                </mat-error>
              </mat-form-field>
           
              <mat-form-field floatLabel="never" class="form-element">
                <input type="password" matInput placeholder="Password" formControlName="password">
                <mat-error *ngIf="!form.controls['password'].valid">
                  {{getError('password')}}
                </mat-error>
              </mat-form-field>
               
              <!-- <p>{{form.status}}</p> -->
            <div  class="form-element">
              <button type="submit" mat-raised-button [color]='form.status==="INVALID" ? "warn" : "primary" ' >Login</button>
            </div>
            <mat-card-footer>
              <div class="button">
                <p class="sign-up"> I am new user. <a href="#">SIGN UP</a></p>
              </div>
            </mat-card-footer>
          </form>
        </div>
      </div>
    </div>


  </mat-card-content>
</mat-card>
</div>
<!-- <p *ngIf="error" class="error"> {{ error }} </p> -->