<!-- <div class="mat-app-background basic-container"> -->

<mat-card>
      <table class="table-style">
            <tr>
                  <td class="td-style" routerLink="/dash/customer-insert">
                        <span class="material-icons">
                              insert_comment
                        </span>
                        <div><span> Insert </span></div>
                  </td>
                  <td class="td-style" routerLink="/dash/customer-details">
                        <span class="material-icons">
                              table_view
                        </span>
                        <div><span> View </span></div>
                  </td>
                  <td class="td-style" routerLink="/dash/customer-search">
                        <span class="material-icons">
                              pageview
                        </span>
                        <div><span> Search </span></div>
                  </td>
            </tr>
            <tr>
                  <td class="td-style" routerLink="/dash/customer-range-search">
                        <span class="material-icons">
                              date_range
                        </span>
                        <div><span> RangeSearch </span></div>
                  </td>
                  <td class="td-style"><span class="material-icons">
                              insert_comment
                        </span>
                        <div><span> Expression </span></div>
                  </td>
                  <td class="td-style"><span class="material-icons">
                              date_range
                        </span>
                        <div><span> Aggregate </span></div>
                  </td>
            </tr>
      </table>
</mat-card>
<!-- <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list> -->

<!-- <mat-grid-list cols="3" rowHeight="3:1">
            <mat-grid-tile><span class="material-icons">
                        insert_comment
                  </span></mat-grid-tile>
            <mat-grid-tile><span class="material-icons">
                        table_view
                  </span></mat-grid-tile>
            <mat-grid-tile><span class="material-icons">
                        pageview
                  </span></mat-grid-tile>
            <mat-grid-tile><span class="material-icons">
                        date_range
                  </span></mat-grid-tile>
            <mat-grid-tile><span class="material-icons">
                        date_range
                  </span></mat-grid-tile>
            <mat-grid-tile><span class="material-icons">
                        date_range
                  </span></mat-grid-tile>
      </mat-grid-list> -->
<!-- </div> -->