 
  mat-grid-tile {
    background-color: navajowhite;
  }
  .td-style{
    padding: 25px;
    background: grey;
    border: 2px ridge;
    padding-left: 49px;
  }
  .td-style:hover{
    cursor: pointer;
  }
  .table-style{
    margin: 189px auto;
  }
  
  mat-card{
    margin-top: 12%
  }